<div class="item-detail-content">
  <div class="item-detail-col">
    <img class="product-image" src="/images/image-product-1.jpg">
  </div>
  <div class="item-detail-col">
    <div class="detail-company">Sneaker Company</div>
    <div class="item-name">Fall Limited Edition Sneakers</div>
    <div class="item-description">
      These low-profile sneakers are your perfect casual wear companion. Featuring a
      durable rubber outer sole, they’ll withstand everything the weather can offer.</div>
    <div class="price">
      <div class="current-price">$125.00</div>
      <div class="discount">50%</div>
    </div>
    <div class="original-price">
      $250.00
    </div>
    <div class="quantity-cart">
      <div class="quantity-container">
        <div class="quantity-changer">
          <img src="/images/icon-minus.svg">
        </div>
        <div class="quantity">0</div>
        <div class="quantity-changer">
          <img src="/images/icon-plus.svg">
        </div>
      </div>
      <div>
        <button class="add-to-cart">
          <img class="add-cart-icon" src="/images/icon-cart.svg">
          Add to cart
        </button>
      </div>
    </div>
  </div>
</div>
